body {
font-family:Arial, Helvetica, sans-serif;
margin: 50px;
}

.highlight-text:hover {
    background-color: blue;
    transition: background-color 0.3s;
    padding: 10px;
    color: white;
}



#cycleBox {
    width: 250px;
    height: 90px;
    border: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}